#mainFrame {
    display: flex;  
    flex-wrap: wrap;
}

.customerThumb {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    min-width: 200px;
    margin: 5px;
    text-align: center;
}

img {
    justify-content: center;
    border-radius: 70px 100px 70px 100px;
}

.email {
    color: rgb(173, 173, 173);
    margin-bottom: 20px;
}

.top {
    margin-top: 5px;
}

.bottom {
    margin-bottom: 5px;

}